.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .movie-box {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    .movie-poster {
      width: 100%;
      height: auto;
    }
    .movie-title {
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .movie-rating {
      display: flex;
      align-items: center;
      margin-top: 10px;
      i {
        margin-right: 5px;
        color: #f1c40f;
      }
    }
    .movie-overview {
      margin-top: 10px;
      p {
        margin: 5px 0;
        font-size: 0.9rem;
      }
      strong {
        font-weight: bold;
      }
    }
  }
}



.filters-container {
  justify-content: space-between;
  align-items: center;
  background-color: #101820;
  color: #fee715;
  border-radius: 60px;
  padding: 44px;
  position: fixed;
  top: 178px;
  margin-top: -97px;
  width: 100%;
  z-index: 1;
  border-radius: 19px;
  left: -13px;
}

.filters-container label {
  margin-right: 10px;
}

.filters-container select,
.filters-container input[type="text"] {
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #fee715ff;
  color: #101820ff;
  font-weight: bold;
}

.filters-container input[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #101820ff;
  color: #fee715ff;
  font-weight: bold;
  cursor: pointer;
}

.filters-container input[type="submit"]:hover {
  background-color: #fee715ff;
  color: #101820ff;
}

.filters-container select:focus,
.filters-container input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px #fee715ff;
}
