.big-box {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101820FF;
  height: 70px;
}


.logo{
    text-decoration: none;
    color: #FEE715FF;
    display: flex;
    align-items: center;
    font-weight: bold;


      font-size: 40px;
      margin-left: 14px;
      margin-top: 40px;
      color: #FEE715FF;
      transition: all 0.3s ease-in-out;



  }

  .btn_ss {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;

    .btn {
      margin-left: 20px;

      a {
        display: block;
        background-color: #FEE715FF;
        border: 1px solid #FEE715FF;
        color: #101820FF;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        position: relative;
        z-index: 1;
        border-radius: 40px;
        text-transform: uppercase;

        &:hover {
          background-color: #101820FF;
          color: #FEE715FF;

          &:before {
            background: #FEE715FF;
          }
        }



      }
    }
  }
