<nav class="navbar">
  <div class="navbar-logo">
    <a href="/">
      <i class="fa-solid fa-wheelchair-move"></i>
    </a>
  </div>
  <div class="navbar-links">
    <ul>
      <li><a href="/movies">My Movies</a></li>
      <li><a href="/lists">My Lists</a></li>
      <li><a href="">Profile</a></li>
      <li><a href="/logout" data-method="delete">Log Out</a></li>
      <%# <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign Up</a></li> %>
    </ul>
  </div>
</nav>
