<div class="big-box">

        <%= link_to root_path do %>
        <div class="logo"><i class="fa-solid fa-wheelchair-move gold"></i></div>
        <%end%>
          <div class="btn_ss">
          <div class="btn"><%= link_to "My lists", root_path %></div>
          <div class="btn"> <%= link_to "New list", new_list_path  %></div>
          <div class="btn">  <%= button_to "Logout", destroy_user_session_path, method: :delete %></div>
          </div>

</div>
