<!DOCTYPE html>
<html>
<head>
  <title>Movie Details</title>
</head>
<body>
  <img id="movie-image" src="image.jpg">
<div class="movie-box">
  <%= image_tag @movie.poster_url %>
  <div class="movie-title"><%= @movie.title %></div>
  <div class="movie-rating">
    <% 10.times do |i| %>
      <% if i < @movie.rating %>
        <i class="fa-solid fa-star"></i>
      <% else %>
        <i class="far fa-star"></i>
      <% end %>
    <% end %>
  </div>
  <div class="movie-overview">
    <%= @movie.overview %>
    <% if @movie.actors.present? %>
      <p><strong>Actors:</strong> <%= @movie.actors %></p>
    <% end %>
  </div>
</div>



  <script>
    const movieImage = document.getElementById('movie-image');
    const movieInfoContainer = document.getElementById('movie-info-container');
    const movieTrailer = document.getElementById('movie-trailer');

    movieImage.addEventListener('click', () => {
      movieInfoContainer.style.display = 'block';
      movieTrailer.src += '?autoplay=1';
    });
  </script>
</body>
</html>
